@page "/dashboard"
@*@layout PrimaryLayout*@
@using client.Data
@using System

<MudText Typo="Typo.h2" Align="Align.Center">Dashboard</MudText>
<div style="width: 100%; display: flex; justify-content: center; flex-wrap: wrap; center; gap: 10%;">
    @*This div block adapted from https://mudblazor.com/components/linechart#basic-usage*@
    <div>
        <MudChart ChartType="ChartType.Line" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="450px" Height="450px"></MudChart>
    </div>


    @*This div block adapted from https://mudblazor.com/components/piechart#basic-pie*@
    @*<MudPaper Class="pa-4">*@
    <div Class="pa-4">
        <MudChart ChartType="ChartType.Pie" InputData="@data" InputLabels="@labels" Width="300px" Height="300px" />
    </div>
    @*</MudPaper>*@

    @*Breakdown*@

    @*Transactions*@
    @*This MudDataGrid adapted from https://mudblazor.com/components/datagrid#default-data-grid*@
    <MudDataGrid Items="@Elements.Take(4)" Class="mt-12">
        <Columns>
            <PropertyColumn Property="x => x.Asset.Name" Title="Asset" />
            <PropertyColumn Property="x => x.Asset.AssetType" Title="Type" />
            <PropertyColumn Property="x => x.Asset.Symbol" Title="Symbol" />
            <PropertyColumn Property="x => x.Units" Title="Units" />
            <PropertyColumn Property="x => x.Ppu" Title="Price/Unit" />
            <PropertyColumn Property="x => x.IsBuy" Title="Type" /> @*Buy/Sell*@
            <PropertyColumn Property="x => x.CreatedAt" Title="Created At" />
        </Columns>
    </MudDataGrid>
</div>


@code {
    // Portfolio value chart
    // This code block adapted from https://mudblazor.com/components/linechart#basic-usage
    public List<ChartSeries> Series = new List<ChartSeries>()
    {
        new ChartSeries() { Name = "Portfolio Value", Data = new double[] { 90, 79, 72, 69, 62, 62, 55, 65, 70 } },
    };
    public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };

    // Pie chart for asset distribution
    // This code block adapted from https://mudblazor.com/components/piechart#basic-pie
    int dataSize = 4;
    double[] data = { 77, 25, 20, 5 };
    string[] labels = { "Cash", "Crypto", "Index Funds", "Stock" };

    // Breakdown of what assets are in each category


    // List of recent transactions
    // This code block adapted from https://mudblazor.com/components/datagrid#default-data-grid
    private IEnumerable<Transaction> Elements = new List<Transaction>();

    protected override async Task OnInitializedAsync()
    {
        //Elements = await httpClient.GetFromJsonAsync<List<Element>>("webapi/periodictable");
        // sample data - DELETE ME
        //Elements =
        //Asset s = new Asset(2, "Microsoft Corp.", "MSFT", 4);
        Console.WriteLine("test");
    }

}

