@page "/stocks"
@*@layout PrimaryLayout*@
@inject IDialogService DialogService


<MudText Typo="Typo.h2" Align="Align.Center">Assets</MudText>

@*Casy*@
<MudText Typo="Typo.h4" class="mt-16">Cash</MudText>
<MudGrid class="mt-3">
    <MudItem Width="250px" Height="250px">
        <MudPaper>
            <MudCard Width="250px" Height="" Elevation="3">
                <MudCardHeader>
                    <CardHeaderContent>
                        <div style="width: 100%; display: flex; justify-content: space-between;">
                            <MudText Typo="Typo.h5" Color="Color.Secondary">Cash</MudText>
                            <MudIcon Icon="@Icons.Material.Outlined.Balance" Title="Cash" />
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>
                    <MudText Typo="Typo.h4" Color="Color.Primary">$13602.42</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(() => OpenCashDialog(false, "Withdraw"))">Withdraw</MudButton>
                    <MudSpacer />
                    <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(() => OpenCashDialog(true, "Deposit"))">Deposit</MudButton>
                </MudCardActions>
            </MudCard>
        </MudPaper>
    </MudItem>
</MudGrid>

@*Cryptocurrency*@
<MudText Typo="Typo.h4" class="mt-16">Cryptocurrency</MudText>
<MudGrid class="mt-3">
    <MudItem Width="250px" Height="250px">
        <MudPaper>
            <MudCard Width="250px" Height="" Elevation="3">
                <MudCardHeader>
                    <CardHeaderContent>
                        <div style="width: 100%; display: flex; justify-content: space-between;">
                            <MudText Typo="Typo.h5" Color="Color.Secondary">JPM</MudText>
                            <MudIcon Icon="@Icons.Material.Outlined.Balance" Title="Cash" />
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>
                    <MudText Typo="Typo.h4" Color="Color.Primary">$13602.42</MudText>
                    <MudText Typo="Typo.body2">JPMorgan Chase & Co.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(() => OpenTransactDialog(true, message))">Buy</MudButton>
                    <MudSpacer />
                    <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(() => OpenTransactDialog(false, message))">Sell</MudButton>
                </MudCardActions>
            </MudCard>
        </MudPaper>
    </MudItem>
</MudGrid>


@*Index Funds*@
<MudText Typo="Typo.h4" class="mt-16">Index Funds</MudText>
<MudGrid class="mt-3">
    <MudItem Width="250px" Height="250px">
        <MudPaper>
            <MudCard Width="250px" Height="" Elevation="3">
                <MudCardHeader>
                    <CardHeaderContent>
                        <div style="width: 100%; display: flex; justify-content: space-between;">
                            <MudText Typo="Typo.h5" Color="Color.Secondary">JPM</MudText>
                            <MudIcon Icon="@Icons.Material.Outlined.Balance" Title="Cash" />
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>
                    <MudText Typo="Typo.h4" Color="Color.Primary">$136.07</MudText>
                    <MudText Typo="Typo.body2">JPMorgan Chase & Co.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(() => OpenTransactDialog(true, message))">Buy</MudButton>
                    <MudSpacer />
                    <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(() => OpenTransactDialog(false, message))">Sell</MudButton>
                </MudCardActions>
            </MudCard>
        </MudPaper>
    </MudItem>
</MudGrid>

@*Stocks*@
<MudText Typo="Typo.h4" class="mt-16">Stocks</MudText>
<MudGrid class="mt-3">
    <MudItem Width="250px" Height="250px">
        <MudPaper>
            <MudCard Width="250px" Height="" Elevation="3">
                <MudCardHeader>
                    <CardHeaderContent>
                        <div style="width: 100%; display: flex; justify-content: space-between;">
                            <MudText Typo="Typo.h5" Color="Color.Secondary">JPM</MudText>
                            @*<MudSpacer />*@
                            <MudIcon Icon="@Icons.Material.Outlined.Balance" Title="Cash" />
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>
                    @*add hr?*@
                    <MudText Typo="Typo.h4" Color="Color.Primary">$136.07</MudText>
                    <MudText Typo="Typo.body2">JPMorgan Chase & Co.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(() => OpenTransactDialog(true, message))">Buy</MudButton>
                    <MudSpacer />
                    <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(() => OpenTransactDialog(false, message))">Sell</MudButton>
                </MudCardActions>
            </MudCard>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    string message = "hi";
    @*Adapted from https://mudblazor.com/components/dialog#usage *@
    private void OpenTransactDialog(bool IsBuy, string DialogTitle)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters();
        parameters.Add("IsBuy", IsBuy);

        DialogService.Show<TransactDialog>("Sell " + DialogTitle, parameters, options);
    }

    private void OpenCashDialog(bool IsDeposit, string DialogTitle)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters();
        parameters.Add("IsDeposit", IsDeposit);

        DialogService.Show<CashDialog>(DialogTitle + " Cash", parameters, options);
    }
}

@*Icons to use
    Cash
            -balance
    Bitcoin
            - CurrencyBitcoi

    IndexFund
            - stackedbarchart
     Stock
            -assessment

    - Balance
    -assessment

    - CurrencyExchange
    - trend
    - assessment
    - barchart
        - candlestick
*@
